<!DOCTYPE html>
<html>
	<head>
	    <title>Butigo Proje</title>
	    <meta charset="utf-8" />
        {% load staticfiles %}
            <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script type="text/javascript" src="{% static "js/main.js" %}"></script>
            <link rel="stylesheet" href="{% static "css/style.css" %}" />
	</head>
	<body>
            <a href="/"><img alt="logo" src="http://www.butigo.com/temp/logo.gif?1" /></a>
            <h2>Hoşgeldiniz!</h2>
                <ul id="cats"></ul>
            <br /><br />
            <label id="sonuc"><span style="color:green"></span></label><br />
            <small style="color:cornflowerblue">Şuan "butigo_frontend" uygulamasındasınız,
                aşağıda ki <i>"CatalogueForm"</i> objesi ise "butigo_core" uygulamasından sağlanmaktadır.</small>
            <form name="form1" id="form1" method="post" action="/save/" enctype="application/x-www-form-urlencoded">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" cursor="hand" value="Kaydet" />
            </form>
            <br /><br /><br /><br /><br />
            <small><a href="javascript:void(0);">Developed with Butigo API v.1.0</a> </small>
	</body>
</html>